.custom-shape-divider-top-1659732760 {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1659732760 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 114px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1659732760 .shape-fill {
    fill: #F7F7F7;
}